* {
    main-bg:     #0e1415e6;
    main-fg:     #dde4e3ff;
    main-br:     #80d4d7ff;
    main-ex:     #b5c7e9ff;
    select-bg:   #80d4d7ff;
    select-fg:   #003738ff;
    separatorcolor: transparent;
    border-color: transparent;

    primary:                       #80d4d7;
    on-primary:                    #003738;
    primary-container:             #004f52;
    
    secondary:                     #b0cccc;
    on-secondary:                  #1b3435;
    secondary-container:           #324b4c;
    
    tertiary:                      #b5c7e9;
    on-tertiary:                   #1e314c;
    tertiary-container:            #354763;
    
    error:                         #ffb4ab;
    on-error:                      #690005;
    error-container:               #93000a;
    surface:                       #0e1415;
    on-surface:                    #dde4e3;
    on-surface-variant:            #bec8c8;
    outline:                       #899393;
    outline-variant:               #3f4949;
    shadow:                        #000000;
    scrim:                         #000000;
    
}
