@import 'colors.css';

*{
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
}

/* optional extra rules */
.navigation-sidebar {
    background-color: @sidebar_bg_color;
    color: @window_fg_color;
}

headerbar.default-decoration {
    /* may need to tweak these values depending on GTK theme */
    margin-bottom: 50px;
    margin-top: -100px;
}

/* rm -rf window shadows */
window.csd,
window.csd decoration {
    box-shadow: none;
}
